@import "../modules/layout";
@import "../modules/colors";

.header {
	@extend .section;
	color: $almost-black;

	h1 {
	}

	h2 {
		margin-top: .75em;
		color: lighten($almost-black, 50);
		padding-left: .2em;
	}

	.instructions {
		@extend .section;

		h3 {
			color: dimgray;
		}

		ol li {
			line-height: 1.8em;
		}
	}

	a {
		color: inherit;

		&:visited {
			color: #00d8ff;
		}

		&:hover {
			text-decoration: none;
		}
	}

	&--heading1 {
	}
}
