.challengeReport {
	padding: 1em;
	margin: 1em;
	flex: 1;
}

.challengeReport--isNull {
	display: flex;
	flex: 1;
	background-color: ghostwhite;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.challengeReport--isNull h3 {
	font-size: 2.5em;
	color: #b5b5b5;
}