@import "./partials/header";
@import "./partials/footer";
@import "./partials/settingsForm";
@import "./partials/challengeReport";
@import "./modules/colors";
@import "./modules/layout";

body {
	background-color: whitesmoke;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: $almost-black;
}

.headers {
	margin: 0;
	padding: 0;
}

.flexRow {
	display: flex;
}

.settingsRow {
	@extend .section;
	border-top: thin solid lightgray;
}

h1 {
	@extend .headers;
}

h2 {
	@extend .headers;
	font-size: 1.4em;
}

h3 {
	@extend .headers;
	font-size: 1.2em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#footer-panel {
	margin-top: 25px;
}

#difficulty-panel {
	strong {
		font-weight: bold;
	}
}

table {
	td, th {
		text-align: center;
	}
}


