@import "./partials/header";

body {
	background-color: whitesmoke;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.headers {
	margin: 0;
	padding: 0;
}

h1 {
	@extend .headers;
}

h2 {
	@extend .headers;
	font-size: 1.4em;
}

h3 {
	@extend .headers;
	font-size: 1.2em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#footer-panel {
	margin-top: 25px;
}

#difficulty-panel {
	strong {
		font-weight: bold;
	}
}

table {
	td, th {
		text-align: center;
	}
}

#difficulty-wrapper {
	h3 {
		margin: 15px 0;
		margin-top: 30px;
		font-weight: bold;
	}

	small {
		margin-left: 10px;
	}

	.difficulty-1 {
		background-color: darken(mintcream, 10);
		border-color: green;
	}
	.difficulty-2 {
		background-color: mintcream;
		border-color: green;
	}
	.difficulty-3 {
		background-color: lemonchiffon;
		border-color: yellow;
	}
	.difficulty-4 {
		background-color: mistyrose;
		border-color: red;
	}
	.difficulty-5 {
		background-color: darken(mistyrose, 10);
		border-color: red;
	}
}
